/* 전체 레이아웃 */
.container {
    width: 400px;
}

/* 중앙 정렬 */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit_user {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* 회원 정보 칸 */
.edit_user input[type="text"],
.edit_user input[type="password"],
.edit_user input[type="email"] {
    flex: 1;
    padding: 12px 16px;
    font-size: 16px;
    border: 3px solid #a47864;
    box-sizing: border-box;
}

/* placeholder 스타일 */
.edit_user input::placeholder {
    color: #999;
    font-size: 15px;
}

/* 입력 칸 테두리 색상 유지*/
.edit_user input:focus {
    outline: none;
    border-color: #a47864;
}

/* 중복확인 버튼 */
.edit_user input[type="button"] {
    width: 80px;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: bold;
    background-color: #a47864;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
}

/* 버튼 hover */
.edit_user input[type="button"]:hover {
    background-color: #8b634d;
}

/* 변경 완료 버튼 */
#edit_user_btn {
    display: inline-block;
    width: 100%;
    padding: 12px;
    font-size: 20px;
    font-weight: bold;
    background-color: #a47864;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

/* 변경 완료 버튼 hover */
#edit_user_btn:hover {
    background-color: #8b634d;
}