#cMain{
    width: 350px;
    /* height: 600px; */
    border: 3px solid black;
    background-color: antiquewhite;
}

#chat{
    /* width: ; */
    height: 480px;
    border: 1px solid black;
    margin: 5px;
    background-color: white;
    /* overflow-y: scroll; */
}

#messageDiv{
    border: 1px solid black;
    background-color: white;
    margin: 5px;
    padding: 3px;
}

#chatMessage{
    width: 240px ;
    margin-right: 10px;
}

#message{
    width: 100%;
    height: 100px;
    display: inline-block;
    vertical-align: text-top;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
    resize: none;
}

#chatSend{
    width: 70px;
    display: inline-block;
}

#sendButton{
    font-size: 20px;
    width: 70px;
    /* height: 50px; */
}