#cMain{
    width: 350px;
    /* height: 600px; */
    border: 3px solid black;
    background-color: antiquewhite;
}

#chat{
    /* width: ; */
    height: 480px;
    border: 1px solid black;
    margin: 5px;
    background-color: white;
    overflow-y: scroll;
}

.rChat{
    text-align: right;
}

.dsib{

    display: inline-block;
    vertical-align: top;
}
.chatting{
    height: 30px;
    margin:10px 5px;
}

.name{
    color: blue;
}
.content{
    margin-left: 0px 3px;
}

.date{
    margin-left: 3px;
    margin-top: 15px;
    font-size: 10px;
    color:gray;
} 

#messageDiv{
    border: 1px solid black;
    background-color: white;
    margin: 5px;
    padding: 3px;
}

#chatMessage{
    width: 260px ;
    margin-right: 10px;
}

#message{
    width: 100%;
    height: 100px;
    font-size: 20px;
    display: inline-block;
    vertical-align: text-top;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
    resize: none;
}

#chatSend{
    display: inline-block;
}

#sendButton{
    width: 30px;
    border-radius: 30px;
    height:30px;
    font-size: 20px;
}