/* 전체 레이아웃 */
.container {
    width: 400px;
}

/* 중앙 정렬 */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 이름, 이메일 입력 칸 */
.finding_id {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.finding_id input {
    padding: 12px 16px;
    font-size: 16px;
    border: 3px solid #a47864;
    box-sizing: border-box;
}

/* placeholder */
.finding_id input::placeholder {
    color: #999;
    font-size: 15px;
}

/* 입력 칸 선택 시 색상 유지 */
.finding_id input:focus {
    outline: none;
    border-color: #a47864;
}

/* 아이디 찾기 버튼 */
#finding_id_btn {
    width: 100%;
    padding: 12px;
    font-size: 20px;
    background-color: #a47864;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
    text-decoration: none;
    display: inline-block;
}

/* 아이디 찾기 버튼 hover */
#finding_id_btn:hover {
    background-color: #8b634d;
}

/* 화면 이동 링크 */
.finding_id_link {
    text-align: center;
    margin-bottom: 20px;
}

/* | */
.finding_id_link span {
    color: #a47864;
    margin: 0 8px;
    font-weight: bold;
}

.finding_id_link a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    margin: 0 2px;
}

/* 화면 이동 링크 hover */
.finding_id_link a:hover {
    color: #a47864;
    text-decoration: underline;
}