/* 전체 레이아웃 */
.container {
    width: 400px;
}

/* 중앙 정렬 */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 아이디 박스 */
.find_id {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 0 16px;
    font-size: 16px;
    color: black;
    border: 3px solid #a47864;
    background-color: #fff;
    box-sizing: border-box;
    margin-bottom: 20px;
    text-align: center;
}

/* 아이디 값 */
.id_value {
    color: #a47864;
    font-weight: bold;
    margin-left: 8px;
    margin-right: 8px;
}

/* 화면 이동 링크 */
.find_id_link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}

.find_id_link a {
    color: black;
    text-decoration: none;
}

/* 화면 이동 링크 hover */
.find_id_link a:hover {
    color: #a47864;
    text-decoration: underline;
    cursor: pointer;
}

/* | */
.find_id_link span {
    color: #a47864;
    margin: 0 8px;
    font-weight: bold;
}