/* 전체 레이아웃 */
.container {
    width: 400px;
}

/* 중앙 정렬 */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 비밀번호 박스 */
.find_pw {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 0 16px;
    font-size: 16px;
    color: black;
    border: 3px solid #a47864;
    background-color: #fff;
    box-sizing: border-box;
    margin-bottom: 20px;
    text-align: center;
}

/* 화면 이동 링크 */
.find_pw_link {
    text-align: center;
}

/* | */
.find_pw_link span {
    color: #a47864;
    margin: 0 8px;
    font-weight: bold;
}

.find_pw_link a {
    color: black;
    text-decoration: none;
    font-size: 14px;
}

/* 화면 이동 링크 hover */
.find_pw_link a:hover {
    color: #a47864;
    text-decoration: underline;
    cursor: pointer;
}